#cover-spin {
    position:fixed;
    width:100%;
    left:0;right:0;top:0;bottom:0;
    background-color: rgba(255,255,255,0.7);
    z-index:9999;
    display:none;
}

@-webkit-keyframes spin {
	from {-webkit-transform:rotate(0deg);}
	to {-webkit-transform:rotate(360deg);}
}

@keyframes spin {
	from {transform:rotate(0deg);}
	to {transform:rotate(360deg);}
}

#cover-spin::after {
    content:'';
    display:block;
    position:absolute;
    left:48%;top:40%;
    width:40px;height:40px;
    border-style:solid;
    border-color:black;
    border-top-color:transparent;
    border-width: 4px;
    border-radius:50%;
    -webkit-animation: spin .8s linear infinite;
    animation: spin .8s linear infinite;
}

.boxtext{
    font-size: medium;
}

.checks{
    height: 15px;
    margin: 0;
    position: relative;
    top: 1px;
    width: 17px;
}

label{
    font-weight: bold;
    color: dimgrey!important;
}

.noneed{
    color: lightgrey!important;
}

.submitAddress{
    background-color:white;
    border: medium none;
    color: #333;
    cursor: pointer;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.2;
    padding: 11px 30px;
    text-transform: uppercase;
    transition: all 0.3s ease 0s;
    margin-top: 10px;
}

span{
    transition: all 0.3s ease 0s;
}

button:hover {
    background-color: #708090;
    color: #fff;
}

.edit{
    cursor: pointer;
}

.checkbox{
    height: 20px!important;
    width: 10%;
}
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0px 1000px rgb(255, 255, 255) inset;
  transition: background-color 5000s ease-in-out 0s;
}

.colortext{
    color: black;
    font-weight: bold;
}

.noButton {
    background-color: lightslategrey;
    opacity: .5;
}

button span {
    pointer-events: none;
  }

  .uploaded{
      width: 100px!important;
      height: auto!important;
  }

.errors {
    border:1px solid red;
}