.foreText {
    color: #717c80!important;
}

.bGround {
    background-color: pink;
}

.mainButton {
    border: 1px solid #717c80!important;
    color: #717c80!important;
}

.mainButton:hover {
    color: pink!important;
}

h1 span {
    background-color: #717c80!important;
    color: pink!important;
}
