.displayname{
    color: rgb(167, 64, 64)!important;
    font-size: medium!important;
}

.ordersIcon {
    background-color: lightgrey;
        border: medium none;
        border-radius: 50px;
        color: black;
        cursor: pointer;
        font-size: 14px;
        font-weight: 500;
        padding: 13px 42px 12px;
        text-transform: uppercase;
        transition: all 0.3s ease 0s;
}

.ordersIcon:hover {
    background-color: #333;
    color: white;
  }